<div>
  <h1 class="card-panel center-align">Read up on Fake News!</h1>
    <div class="row center-align">
      <h5>Click 'Scrape' to get the latest fake'n news</h5>
    </div>
</div>

<div class="row">
  <div class ="left-align">
    {{#each article}}
      <div class="card-panel">
        <h4>{{this.title}}</h4>
        <p>{{this.summary}}</p>
        <a href={{this.link}} target="_blank">{{this.link}}</a>
        {{!-- goes to article.handlebars --}}
        <div class="left-align">
          <button type="button" class="save waves-effect waves-light btn blue lighten-1" id="btn" data-id={{this._id}}>Save Article</button>
        </div>
      </div>
    {{/each}}
  </div>
</div>